@use "@/styles/layout" as *;

:export {
  gameWidth: $layout-game-width;
  gameHeight: $layout-game-height;
  playerBoxWidth: $layout-player-box-width;
  cpuPlayerBoxWidth: $layout-cpu-player-box-width;
  playerBoxHeight: $layout-player-box-height;
  bottomUiOffset: $layout-bottom-ui-offset;
}
