@use "@/styles/layout" as *;

$slider-input-width: 200px;

.row {
  margin-bottom: $space-5;
}

.label {
  margin-bottom: $space-2;
}

.slider {
  width: $slider-input-width;
}

.value {
  margin-left: $space-4;
  font-weight: $font-weight-bold;
}
